:root {
  --primary-color: #000;
  --secondary-color: #252e11;
  --alternate-color: rgba(209, 115, 52, .99);
  --header-color: rgba(35, 46, 17, .30);
  --dark-font: rgba(51, 51, 51 99%);
  --light-font: rgb(153, 153, 153);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(79, 46%, 99%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

header {
  display: block;
  height: 100px;
  background-color: var(--header-color);
}

.pageHeader  {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  color: #252e11;
}

.pageHeader > .headerName {
  font-family: 'Fascinate', cursive;
  font-size: 1.6rem;
  margin-left: 4rem;
}

.pageHeader > .mid {
  grid-column: 2;
  justify-items: center;
}

@media (max-width: 750px) {
  .pageHeader > .headerName {
    display: none;
  }
  .pageHeader > .headerInitials {
    margin-inline-start: 2rem;
  }
}

.pageHeader > .right {
  grid-column: 3;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1.6rem;
}

.intro {
  display: block;
  height: 687px;
}

.introContent {
  display: grid;
  height: 687px;
  width: inherit;
  background: url('/src/layout/assets/lake.svg');
}

.briefAbout {
  color: rgba(245, 245, 245, .99);
  margin-bottom: 5px;
  font-weight: 600;
}

.introSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.6rem;
  place-self: center;
  margin-inline: 4rem;
}

@media (min-width: 1800px) {
  .introSkills {
    margin-inline: 6rem;
  }
}

@media (max-width: 440px) {
  .introSkills {
    margin-inline: 10px;
  }
}

.skillBadge {
  font-weight: bold;
  background-color: var(--alternate-color);
  text-align: center;
  padding: .6rem;
  border-radius: 6px;
  box-shadow: #c0392b 0px 3px, var(--secondary-color) 0px 4px 6px;
  color: var(--secondary-color);
}

.cardWrapper {
  display: block;
  width: 320px;
  height: 420px;
  position: relative;
  background-color: rgb(245, 245, 245);
}

.latest {
  display: block;
  text-rendering: optimizeLegibility;
  position: relative;
  font-weight: 400;
  margin-block-start: 1rem;
  min-height: 500px;
}

.latest button {
  border: none;
  background: none;
  color: var(--secondary-color);
}

.latest > h2 {
  padding-inline: 64px;
}


.latest-lg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem
}

.carouselWrapper {
  width: 100vw;
  display: flex;
  height: 500px;
  padding-inline: 64px;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 420px;
  grid-auto-flow: column;
}

.carousel button svg {

}

.carouselBackBtn {
  grid-column: 1;
  z-index: 1;

}

.carousel .slider {
  justify-content: center;
  margin-block: 1rem;
  display: block;
  width: 320px;
  height: 420px;
  grid-column: 2;
  scroll-snap-align: center;
  border-radius: 4px;
}


.carouselNextBtn {
  grid-column: 3;
  z-index: 1;
}

.carousel .cardWrapper {
  border-radius: 4px;

}


.cardWrapper .projCard {
  box-shadow: rgba(48, 48, 48, 0.15) 0px 1px 9px -5px;
  cursor: pointer;
}

.projCard {
  height: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.projCardContent {
  font-weight: 500;
}

.projCardContent > p {
  text-align: start;
  overflow-wrap: break-word;
  margin: 1rem;
}

.projCardContent > h3 {
  text-align: center;
  margin: 0;
}




