:root {
  --primary-color: #f7f7f2;
  --secondary-color: #252e11;
  --alternate-color: rgba(209, 115, 52, .99);
  --header-color: rgba(35, 46, 17, .30);
  --dark-font: rgba(51, 51, 51 99%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;

}

header {
  display: block;
  height: 100px;
  background-color: var(--header-color);
}

.pageHeader  {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  color: #252e11;
}

.pageHeader > .headerName {
  font-family: 'Fascinate', cursive;
  font-size: 1.6rem;
  margin-left: 4rem;
}

.pageHeader > .mid {
  grid-column: 2;
  justify-items: center;
}

@media (max-width: 750px) {
  .pageHeader > .headerName {
    display: none;
  }
  .pageHeader > .headerInitials {
    margin-inline-start: 2rem;
  }
}

.pageHeader > .right {
  grid-column: 3;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1.6rem;
}

.intro {
  display: block;
  height: 687px;
}

.introContent {
  display: grid;
  height: 687px;
  width: inherit;
  background: url('/src/layout/assets/lake.svg');
}

.briefAbout {
  color: rgba(245, 245, 245, .99);
  margin-bottom: 5px;
  font-weight: 600;
}

.introSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.6rem;
  place-self: center;
  margin-inline: 4rem;
}

@media (min-width: 1800px) {
  .introSkills {
    margin-inline: 6rem;
  }
}

@media (max-width: 440px) {
  .introSkills {
    margin-inline: 10px;
  }
}

.skillBadge {
  font-weight: bold;
  background-color: var(--alternate-color);
  text-align: center;
  padding: .6rem;
  border-radius: 6px;
  box-shadow: #c0392b 0px 3px, var(--secondary-color) 0px 4px 6px;
  color: var(--secondary-color);
}

.card {
  position: relative;
  background-color: rgba(245, 245, 245, .99);
}

