:root {
	--primary-color: #f7f7f2;
	--hover-color: #252e11;
	--header-color: rgba(35, 46, 17, 0.3);
	--font-color: rgb(68, 68, 68);
	--bg-color: rgba(245, 245, 245, 0.1);
}

* {
	box-sizing: border-box;
	outline: 1px solid #f00 !important;
}

body {
	margin: 0;
	background-color: #212529;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: calc(15px + 0.390625vw);
	line-height: 1.15;
	color: var(--font-color);
	text-rendering: optimizeLegibility;
	max-width: 100%;
}

header {
	display: block;
	height: 60px;
	max-width: 100%;
	line-height: 1.15;
	color: #f7f7f2;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

li {
	text-decoration: none;
}

.mobileHeader {
	height: 60px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	background-color: #212529;
}

h1 {
	margin: 0;
	font-weight: 400;
}

h2 {
	padding-inline: 1rem 0;
	padding-block: 0.5rem 1rem;
	letter-spacing: 0.21rem;
	font-family: 'Sigmar One', sans-serif;
	font-size: 2.4rem;
	margin: 0;
	color: #212529;
	-webkit-text-stroke: 1px #f7f7f2;
}

.desktopHeader {
	display: grid;
	grid-template-columns: 1fr minmax(200px, 40vw);
	grid-template-rows: 60px;
	background-color: #212529;
}

.mobileHeaderName {
	padding-inline: 1rem 0;
	font-size: 1.85rem;
	font-family: 'Sigmar One', cursive;
}

.desktopHeaderName {
	font-family: 'Sigmar One', cursive;
	/* padding-inline-start: 1rem; */
	display: flex;
	align-self: center;
}

.right {
	display: flex;
	flex-basis: 100%;
	justify-content: space-evenly;
}

.right > a {
	display: flex;
	align-items: center;
	color: #f7f7f2;
	font-size: 2rem;
}

.right > a:hover {
	color: var(--hover-color);
}

.menuWrapper {
	position: sticky;
}

.menuUpperContent {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding-inline: 0 1rem;
	font-size: 1.2em;
}

.menuLowerContent {
	padding-inline: 3rem 1rem;
	/* margin-inline-end: 2rem; */
	z-index: 10;
	background-color: #f9f9f9;
}

.menuLink {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-weight: 600;
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
	padding-block: 1rem;
}

.menuLink:not(:last-of-type) {
	border-bottom: 1px solid rgb(217, 217, 217);
}

.intro {
	display: block;
	height: inherit;
	margin-block-end: 1rem;
}

.introContent {
	max-width: 100%;
	display: grid;
	height: 600px;
	width: inherit;
	background-image: url('/src/layout/assets/lake.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	align-items: center;
}

.briefAbout {
	color: var(--primary-color);
	margin-bottom: 5px;
	font-size: 3.3rem;
	font-weight: 600;
	letter-spacing: 0.136rem;
	line-height: 1.6;
	/* text-align: justify; */
	/* -webkit-text-stroke: 1px var(--secondary-color); */
}

.cardWrapper {
	display: block;
	width: 100%;
	height: 420px;
	position: relative;
	background-color: #f7f7f2;
}

.latest {
	display: block;
	padding-block: 1rem 3rem;
	min-height: 500px;
}

.latest .ant-card-cover {
	height: 300px;
}

.latest .ant-card-body {
	height: 150px;
}

.carouselWrapper button {
	background: none;
	border: none;
	color: var(--primary-color);
	font-size: 2rem;
}

.latest-lg {
	margin: 5px;
	display: grid;
	grid-template-rows: min-content 1fr;
	padding-block: 1rem;
}

.latestCards {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding-inline: 3rem;
	padding-block: 1.75rem 1rem;
	column-gap: 1rem;
	row-gap: 2rem;
}

.latestCards > a:hover {
	filter: drop-shadow(0px 2px 4px var(--primary-color));
}

.carouselLarge {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.carousel {
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-basis: 100%;
	min-width: 320px;
	padding-block: 2rem 0.5rem;
}

.carouselItem {
	display: none;
}

.carousel .cardWrapper {
	border-radius: 4px;
	border: 1px solid rgb(217, 217, 217);
}

.certified {
	padding-block: 2rem;
}

.certifications {
	padding-inline: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 3rem;
	padding-block: 2rem;
}

.upper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding-inline: 0 1rem;
	margin-block-end: 1rem;
}

.lower {
	display: flex;
	justify-content: center;
}

.footer {
	display: flex;
	flex-flow: column;
	text-align: center;
	font-weight: 300;
	color: #f7f7f2;
}

/* LAZY */
@media (max-width: 403px) {
	.briefAbout {
		font-size: 2.4rem;
	}
}

@media (max-width: 800px) {
	.briefAbout {
		text-align: center;
		padding-inline: 1rem;
	}
	.desktopHeader {
		padding-inline: 1rem 0;
	}
}

@media (min-width: 800px) {
	.desktopHeader {
		padding-inline: 1rem 0;
		background-color: var(--bg-color);
	}
	.intro {
		padding-inline: 1rem;
		padding-block-start: 2rem;
	}
	.introContent {
		border-radius: 20px;
	}
}

@media (min-width: 1000px) {
	.desktopHeader {
		padding-inline: 3rem;
	}
	h2 {
		padding-inline: 3rem;
	}
	.intro {
		padding-inline: 3rem;
		display: flex;
		justify-content: center;
	}
	.briefAbout {
		padding-inline: 6rem;
	}
}

@media (min-width: 1600px) {
	.intro {
		padding-inline: 3rem;
	}
	.introWrapper {
		display: grid;
		/* gap: 1rem; */
		grid-template-columns: 1192px calc(100vw - (1192px + 6rem));
	}
	.briefAbout {
		text-justify: none;
		text-align: right;
		padding-inline: 1rem 0;
		font-size: 3rem;
	}
}

@media (min-width: 2000px) {
	.briefAbout {
		text-align: center;
		padding-inline: 3rem;
	}
}
